@import "../../node_modules/bootstrap/less/bootstrap";

* {
  padding: 0;
  margin: 0;
}

body {
  padding:10px;
  background-color: #ddd;
  .headerStart h1 {
    text-align: center;
  }
  .PlaceYourShips {
    width: 200px;
    float: left;
    background-color: #F2EFEF;
    border-radius: 10px;
    margin-right: 5px;
    padding: 10px;
    ul li a {
      cursor: pointer;
    }
  }
  .mainField, .enemyField {
    width: 430px;
    height: 430px;
    padding: 5px;
    background-color: #25567B;
    border-radius: 5px;
    position: relative;
    float: left;
    margin-right: 5px;
  }
  .fieldCell, .enemyCell {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #99C2E1;
    border-radius: 5px;
    margin: 1px;
    padding: 2px;
    font-size: 30px;
    text-align: center;
    vertical-align: top;
  }
  .hover {
    background-color: grey;
  }
  .ship {
    background-color: black;
  }
  .enemyField, .mainField {
    .hit {
      background-color: red;
    }
    .missed {
      background-color: white;
    }
  }
  .shipList li {
    list-style: none;
  }
  .waitOpponent {
    float: left;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 400px;
    color: red;
  }
}

.main {
  h1, h3 {
    text-align: center;
  }
  .rooms {
    li {
      float: left;
      display: inline-block;
      background-color: #fff;
      border-radius: 5px;
      cursor: pointer;
      padding: 10px;
      margin: 10px;
    }
  }
}