@import "../../node_modules/bootstrap/less/bootstrap";

body {
  background-color: #ddd;
  .headerStart h1 {
    text-align: center;
  }
  .PlaceYourShips {
    width: 200px;
    float: left;
    background-color:#F2EFEF ;
    border-radius: 10px;
    margin-right: 5px;
    padding: 10px;
    ul li a {
      cursor: pointer;
    }
  }
  .mainField, .enemyField {
    width: 430px;
    height: 430px;
    padding: 5px;
    background-color: #25567B;
    border-radius: 5px;
    position: relative;
    float: left;
    margin-right: 5px;
  }
  .fieldCell, .enemyCell {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #99C2E1;
    border-radius: 5px;
    margin: 1px
  }
  .hover {
    background-color: grey;
  }
  .ship {
    background-color: black;
  }

}