<header class=" headerStart col-lg-12"><h1 class="col-lg-offset-3 col-lg-6">Battle ship game</h1></header>
<div class="row">
    <aside class="PlaceYourShips">
        <h3>Place Your Ships</h3>
        <ul class="shipList">
            <li ng-repeat="ship in game.shipList track by $index"><a ng-click="game.sizeShipFn(ship.size,$index)"
                                                                     ng-hide="ship.hide">{{ship.name}} </a>
            </li>
        </ul>
        <p><a ng-click="(game.TurnTheShip == true)?game.TurnTheShip = false:game.TurnTheShip = true"
              class="btn btn-primary btn-lg" role="button">Turn the ship {{game.TurnTheShip}}</a></p>
        <button class="btn btn-success btn-lg" ng-hide="game.hideStartGame" ng-click="game.startGameFn()">Set ships
        </button>
        <section ng-show="game.whoseTurn">
            <h3 style="color:green" ng-show="game.yourTurn">you turn</h3>
            <h3 style="color:red" ng-hide="game.yourTurn">opponent turn</h3>
        </section>
    </aside>
    <section class="wait" ng-show="game.myFieldhidden">
        <h1>Wait when somebody join you</h1>
    </section>

    <section ng-hide="game.myFieldhidden" class="mainField ">

        <div ng-repeat="cell in game.gameField track by $index"
             ng-mouseover="game.hovered($index)"
             ng-mouseleave="game.lieved($index)"
             ng-click="game.setShip($index)"
             class="fieldCell"
             ng-class="{'ship': cell.ship , 'hover':cell.hover ,'hit': cell.hit , 'missed': cell.missed }"
             id="x:{{cell.x}}y:{{cell.y}}">
            <span ng-if="cell.missed" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
    </section>
    <section class="waitOpponent" ng-hide="game.showEnemyField">
        <h1>Wait when opponent set the ships</h1>
    </section>


    <section ng-show="game.showEnemyField" class="enemyField ">
        <div ng-repeat="cellEnemy in game.enemyField track by $index"
             ng-click="game.shot($index)"
             class="enemyCell" ng-class="{'missed':cellEnemy.missed,'hit':cellEnemy.hit}">
            <span ng-if="cellEnemy.missed" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
    </section>
</div>
