<header class=" headerStart col-lg-12"><h1 class="col-lg-offset-3 col-lg-6">Battle ship game</h1></header>
<div class="row">
    <aside class="PlaceYourShips">
        <h3>Place Your Ships</h3>
        <ul>
            <li ng-repeat="ship in start.shipList track by $index"><a ng-click="start.sizeShipFn(ship.size,$index)"
                                                                      ng-hide="ship.hide">{{ship.name}} </a>
            </li>

        </ul>
        <p><a ng-click="(start.TurnTheShip == true)?start.TurnTheShip = false:start.TurnTheShip = true"
              class="btn btn-primary btn-lg" role="button">Turn the ship {{start.TurnTheShip}}</a></p>
        <button class="btn btn-success btn-lg" ng-hide="start.hideStartGame" ng-click="start.startGameFn()">Start game</button>
    </aside>
    <section class="mainField ">

        <div ng-repeat="cell in start.gameField track by $index"
             ng-mouseover="start.hovered($index)"
             ng-mouseleave="start.lieved($index)"
             ng-click="start.setShip($index)"
             class="fieldCell" ng-class="{'ship': cell.ship , 'hover':cell.hover }" id="x:{{cell.x}}y:{{cell.y}}">

        </div>
    </section>

    <section ng-show="start.showEnemyField" class="enemyField ">

        <div ng-repeat="cellEnemy in start.enemyField track by $index"
             ng-click="start.shot($index)"
             class="enemyCell" ng-class="{'missed':cellEnemy.missed,'hit':cellEnemy.hit}">
            <span ng-if="cellEnemy.missed" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
    </section>
</div>
